html,
body {
  margin: 0px;
  font-family: 'Sawarabi Gothic', cursive;
}
ul {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0px;
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
  text-align: center;
  width: 80%;
  background-color: #2a2a2a;
  color: white;
  font-size: 21px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

#decideFallPoint {
  background-color: #f1105d;
}
