html,
body {
  margin: 0px;
  font-family: 'Sawarabi Gothic', cursive;
  background-color: #2a2a2a;
}
ul {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0px;
  list-style: none;
  text-align: center;
}

ul li, button {
  display: inline-block;
  text-align: center;
  width: 80%;
  color: white;
  font-size: 21px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

ul li:hover {
  opacity: 0.9;
}

#decideFallPoint {
  background-color: #f1105d;
}

#openHP {
  background-color: #009fda;
}

#close {
  margin-top: 20px;
  text-align: center;
}

#close img {
  width: 60px;
  height: 60px;
}
